@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(24, 25, 30);
    color: white;
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
    background-color: #2b3037;
  }
  
  .loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* display: inline-block; */
    border-top: 4px solid #d7a1f9;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left: 4px solid #a020f0;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }